Package: symcrypt-openssl
Version: 1.9.4
Section: devel
Priority: optional
Architecture: all
Depends: openssl (>=3.0)
Maintainer: SONiC <sonic@microsoft.com>
Description: symcrypt openssl
 Symcrypt Openssl Provider and engine.
